.jumbotron {
  padding-top: 6rem;
  background-color: #68e2dc;
}
.jumbotron img {
}
#Services {
  background-color: #68e2dc;
}
#Contact {
  background-color: #68e2dc;
}
footer {
  background-color: #68e2dc;
  color: #fff;
}

section {
  padding-top: 4rem;
}
